## for_list_format

In [2]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [4]:
type(num)

list

In [9]:
for i in num:
    print('%d번'%i,end='/')

1번/2번/3번/4번/5번/

In [11]:
for i in num:
    print('%d번'%i,end=' ')

1번 2번 3번 4번 5번

In [15]:
i=0
if  i==0 :
    print("i는 0이다.")
else:
    print("i는 0이 아니다.")

i는 0이다.

In [18]:
i=10
if  i%2==0 :
    print("i는 짝수이다.")
else:
    print("i는 홀수이다.")

i는 짝수이다.

In [22]:
i = int(input('숫자입력>>> '))
if  i%2==0 :
    print("i는 짝수이다.")
else:
    print("i는 홀수이다.")

숫자입력>>> 3
i는 홀수이다.

In [25]:
sub = ['국', '영', '수', '정보']
for i in range(len(sub)):
    print(sub[i], end=' ')

국 영 수 정보

In [28]:
sub = ['국', '영', '수', '정보']
for i, s in enumerate(sub):
    if sub[i] == '정보':
        print(i+1,'교시',sub[i], '산업')
    else:
        print(i+1,'교시', sub[i],'해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당없음
4 교시 정보 산업

## List

In [29]:
juso = '    인천광역시 중구 참외전로 116 창의관'

In [31]:
juso

'    인천광역시 중구 참외전로 116 창의관'

In [33]:
type(juso)

str

In [34]:
len(juso)

25

In [37]:
juso=juso.strip()

In [39]:
juso,len(juso)

('인천광역시 중구 참외전로 116 창의관', 21)

In [40]:
addr=juso.split()

In [41]:
addr, len(addr), type(addr)

(['인천광역시', '중구', '참외전로', '116', '창의관'], 5, list)

In [42]:
addr[:2], addr[3:]

(['인천광역시', '중구'], ['116', '창의관'])

In [43]:
juso.startswith('인천')

True

In [45]:
juso.endswith('동')

False

In [46]:
'광주광역시' in addr

False

In [48]:
'광주' in juso

False

## Format

In [49]:
s = 'A is {}, {}'
pr= s.format('사과', '오랜지')
print(pr)

A is 사과, 오랜지

In [52]:
info_1 = '학교: {} 학번: {} 이름:{}'
p = info_1.format('인천정보산업고', '30113', '이상현')
print(p)

학교: 인천정보산업고 학번: 30113 이름:이상현

In [56]:
info_2 = '학교: %s 학번: %d 성적: %2.2f'
p = info_2%('정산고',30113,90.08)
print(p)

학교: 정산고 학번: 30113 성적: 90.08

In [58]:
a='%s %d 개 가격은 %.2f 달라'
b= a%('햄버거', 2, 8.0)
print(b)

햄버거 2 개 가격은 8.00 달라

## [문제1]30부터 50까지 중에서 홀수만 출력

In [60]:
for i in range(30,50) :
    if i%2==1:
        print(i,end=' ')

31 33 35 37 39 41 43 45 47 49

## [문제2] 아이디(문자)를 입력받아 동일하면
- 안녕하세요 회원님
- 아니면 회원가입하세요.

In [64]:
i = str(input('아이디 입력>>> '))
if i=='saltneir':
    print('안녕하세요 회원님')
else:
    print('회원가입하세요.')

아이디 입력>>> 야발
회원가입하세요.

## [문제3] 입력예) 인천정보산업고/30105/김장민 입력받아
- 학교 : 인천정보산업고
- 학번 : 30105
- 이름 : 김장민

In [80]:
stu = input('입력 : ').split('/')
print('학교 : ',stu[0])
print('학번 : ',stu[1])
print('이름 : ',stu[2])

입력 : 인천정보산업고/30105/김장민
학교 :  인천정보산업고
학번 :  30105
이름 :  김장민

## [문제4] 숫자데이터 5개를 입력받아
- 합계
- 평균

In [94]:
a=list(map(int,input('숫자입력>>>').split(' ')))
a=list(map(int,a))
sum=0
for i in range(len(a)) :
    sum += a[i]
print('합계 : %d'%sum)
print('평균 : %.2f'%(len(a)))

숫자입력>>>1 2 3 4 5
합계 : 15
평균 : 5.00